{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
  <h5>管理者一覧</h5>
  <br>
  <div class="card" style="width:40rem;">
    <div class="card-body">
      <table class="table align-middle">
        <tbody>
          {% for user in users %}
              {% if user.is_staff == True %}
                    {% if user.is_superuser == True %}
                    
                    {% else %}
                    <tr>
                      <th>&nbsp;&nbsp;・&nbsp;{{user}}</th>
                      <td>
                        <div align="right">
                          <a href="/managermanagement/{{user.id}}/manager_details" class="btn btn-outline-secondary font-weight-bold">詳細</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>                     
                      </td>
                    </tr>
                    {% endif %}
              {% else %}
              {% endif %}
          {% endfor %}            
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}