<!DOCTYPE html>
{% load static %}

<html lang="ja">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アイズケア管理画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        {% block header %}
        {% include 'blog/base/snippets/header.html' %}
        {% endblock %}
    </header>
    
    {% block main %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% include 'blog/base/snippets/footer.html' %}
        {% endblock %}
    </footer>

    </div>
    </div>    
</body>
</html>
