{% extends 'blog/base.html' %}
{% block saidbar %}
<li class="nav-item">
    <a class="nav-link" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
      <span class="ml-2">ダッシュボード</span>
    </a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/Officemanagement">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
    <span class="ml-2">事務所管理</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/Usermanagement">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    <span class="ml-2">ユーザー管理</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/Workmanagement">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
    <span class="ml-2">勤務管理機能</span>
  </a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/Managerpage">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
      <span class="ml-2">管理者画面</span>
    </a>
</li>
{% endblock %}
{% block main %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">ダッシュボード</a></li>
        <li class="breadcrumb-item"><a href="/Managerpage">管理者画面</a></li>
        <li class="breadcrumb-item active" aria-current="page">詳細</a></li>
    </ol>
    </nav>
    <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">ユーザー一覧</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for user in users %}
                                {% for datas in data %}
                                <tr>
                                {% if datas.date|date:"/n" == "/4" %}
                                {% if id == user.id %}
                                {% if user == datas.staff %}
                                <td>No.{{ datas.id }}</td>
                                <td>{{ datas.staff  }}</td>
                                <td>
                                    {% if datas.place == 1 %}
                                    京町デイ
                                    {% elif datas.place == 2 %}
                                    日夏デイ
                                    {% elif datas.place == 3 %}
                                    甘呂デイ
                                    {% elif datas.place == 4 %}
                                    ECC
                                    {% elif datas.place == 5 %}
                                    わが家
                                    {% else %}
                                    その他
                                    {% endif %}
                                </td>
                                <td>
                                    {% if datas.in_out == 1 %}
                                    出勤
                                    {% else %}
                                    退勤
                                    {% endif %}
                                </td>
                                <td>
                                    {{ datas.date }} {{ datas.time }}
                                </td>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                </tr>
                                {% endfor %}
                            {% endfor %}
                          &nbsp;&nbsp;<a href="#" class="btn btn-primary">翌月</a>  
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
{% endblock %}