<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アイズケア管理画面</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="/">
                (株)アイズケア
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2">
            <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <a class="github-button" href="#" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star /themesberg/simple-bootstrap-5-dashboard">{{ user.employee.office_name }}</a>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                  {% if user.is_authenticated %}
                  {{ user.username }}さん
                  {% else %}
                  <a href="{% url 'login' %}">ログイン</a>
                  {% endif %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">設定</a></li>
                  <li><a class="dropdown-item" href="{% url 'login' %}">ログアウト</a></li>
                </ul>
              </div>
        </div>
    </nav>
    <div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-md-5">
              </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">ダッシュボード</a></li>
                <li class="breadcrumb-item active" aria-current="page">勤務管理機能</li>
            </ol>
            </nav>
            <!--<h1 class="h2">ダッシュボード</h1>
            <p>This is the homepage of a simple admin interface which is part of a tutorial written on Themesberg</p>-->
            <div class="d-grid gap-2">
                <h5>以下のボタンを押して記録します</h5>
                <h6>{{ user.username }}さん</h6>
                <br>
                <!--<ul>
                  {% for task_2 in Timesheet_items %}
                    <li>
                      {{task_2.start}}
                    </li>
                  {% endfor %}
                </ul>-->
                <p>{{ user.employee.office_name }}</p>
                <p>{{ shift_item }}</p>
                <p>{{ comment }}</p>
                <!--<form action='/start_time/' method='POST'>{% csrf_token %}-->
                <form action='/result/' method='POST'>{% csrf_token %}
                  <button type="submit" value="add" class="btn btn-primary btn-block btn-lg">開始</button>
                  <!--<button class="btn btn-primary btn-block btn-lg" type="button">開始</button>-->
                </form>
               
                <br>
                <p>{{ comment_2 }}</p>
                <form action='/result_2/' method='POST'>{% csrf_token %}
                  <button type="submit" value="add" class="btn btn-danger btn-block btn-lg">終了</button>
                </form>
                <br>
                <!--<button class="btn btn-outline-secondary btn-lg" type="button">回答を入力</button>
                #<br><br>
                <button class="btn btn-sm btn-primary">送信</button>-->
                <!--
                <ul>
                  {% for task in todo_items %}
                  <li>
                    {{task.content}}
                    <form action='/delete/{{task.id}}' method='POST'>{% csrf_token %}
                      <button type="submit" value="delete" class="btn btn-sm btn-danger">削除</button>
                    </form>
                  </li>
                  {% endfor %}
                </ul>
                <form action='/todo_post/' method='POST'>{% csrf_token %}
                    <p><label>備考欄<br><input type="text" name="content" class="btn btn-outline-secondary btn-lg" type="button" placeholder="回答を入力"></label></p>
                    <button type="submit" value="add" class="btn btn-sm btn-primary">送信</button>
                </form>-->
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-lg-0">
                  <div class="card">
                      <h5 class="card-header">勤務記録一覧</h5>
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col"></th>
                                      <th scope="col">ユーザー</th>
                                      <th scope="col">事業所名</th>
                                      <th scope="col">出勤/退勤</th>
                                      <th scope="col">打刻時間</th>
                                    </tr>
                                  </thead>
                                  <tbody border="1">
                                    <!--<header>
                                      <tr>
                                        <th>事業所名</th>
                                        <th>(1)出勤/退勤(0)</th>
                                      </tr>
                                    </header>-->
                                    {% block content %}
                                    {% for datas in data %}              
                                      <tr>
                                        {% if datas.date|date:"/n" == "/4" %}
                                        <td>No.{{ datas.id }}</td>
                                        <td>{{ datas.staff }}</td>
                                        <td>
                                          {% if datas.place == 1 %}
                                          京町デイ
                                          {% elif datas.place == 2 %}
                                          日夏デイ
                                          {% elif datas.place == 3 %}
                                          甘呂デイ
                                          {% elif datas.place == 4 %}
                                          ECC
                                          {% elif datas.place == 5 %}
                                          わが家
                                          {% else %}
                                          その他
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if datas.henkou == 1 %}
                                          出勤
                                          {% else %}
                                          退勤
                                          {% endif %}
                                        </td>
                                        <td>
                                          {{ datas.date }} {{ datas.time }}
                                        </td>
                                        {% endif %}
                                      </tr>
                                    {% endfor %}
                                  <form action='/Workmanagement/list' method='POST'>{% csrf_token %}
                                    <button type="submit" value="add" class="btn btn-primary">一覧を表示</button>
                                  </form>
                                  &nbsp;&nbsp;<a href="/Workmanagement/list_2" class="btn btn-primary">先月</a>
                                  &nbsp;&nbsp;<a href="/Workmanagement/list_2" class="btn btn-primary">翌月</a>
                                  {% endblock %}
                                  </div>
                                  </tbody>
                                </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div>
            
        </main>

    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>