{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="card" style="width: 40rem;">
        <div class="card-body font-weight-bold">
                <table class="table">
                    <tbody>
                        <form method="POST" class="post-form">{% csrf_token %}
                            <p>&nbsp;&nbsp;名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.shift_name }}</p>
                            <p>&nbsp;&nbsp;時間&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ form.working_starttime }} 時 ～ {{ form.working_endtime }} 時</p>
                            <p>&nbsp;&nbsp;合計時間&nbsp;&nbsp;{{ form.total_time }} 時間</p>
                            <br>
                            <p>&nbsp;&nbsp;食事</p>
                            <p>&nbsp;&nbsp;{{ form.breakfast }}&nbsp;&nbsp;朝食&nbsp;&nbsp;{{ form.lunch }}&nbsp;&nbsp;昼食&nbsp;&nbsp;{{ form.dinner }}&nbsp;&nbsp;夕食&nbsp;&nbsp;</p>
                            <input type="hidden" name="office_id_test_2" value="{{id}}">                            
                            <div align="right">
                                <p><button type="submit" class="save btn btn-primary font-weight-bold">追加</button>&nbsp;&nbsp;</p>
                            </div>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}