{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
        <div class="col-12 col-xl-8 mb-4 mb-lg-0">
            <div class="card">
                <h5 class="card-header">事務所一覧</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for office in offices %}
                            <tr>
                                
                                <th>・ {{ office.office_name }}</th>
                                <td>
                                <a href="/officemanagement/{{ office.id }}/shift_details_page" class="btn btn-sm btn-primary">詳細</a>
                                <a href="/officemanagement/{{ office.id }}/office_setting" class="btn btn-sm btn-primary">事務所設定</a>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

