{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
  <div class="card" style="width:60rem;">
      <div class="card-body">
        <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {% if id == 1 %}
          京町デイ
          {% elif id == 2 %}
          日夏デイ
          {% elif id == 3 %}
          甘呂デイ
          {% elif id == 4 %}
          ECC
          {% else %}
          事業所の設定がされていません
          {% endif %}
        </h5>
        <div align="center" class="font-weight-bold">
            <th scope="col">時間帯</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th scope="col">時間</th>
        </div>
            
          <table class="table align-middle table-striped table-bordered font-weight-bold">
            <tbody>
                {% for shift_item in shift_items %}
                  <tr>
                    {% if shift_item.office_id_test_2.id == id %}
                    <!--<td>{{forloop.counter0}}</td>確認-->
                    <td>{{ shift_item.shift_name }}</td>
                    <td>{{ shift_item.working_starttime }}
                      ～ 
                    {{ shift_item.working_endtime }}</td>
                    <td>{{ shift_item.total_time }}h</td>
                    <td><a href="/officemanagement/{{ shift_item.id }}/shift_details_setteing" class="btn btn-outline-secondary font-weight-bold">編集</a></td>
                    {% endif %}
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        <a href="add_shift_item" class="btn btn-block btn-outline-primary font-weight-bold">追加</a>
      </div>
  </div>
</main>
{% endblock %}