{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="card" style="width:40rem;">
        <div class="card-body align-middle">
            <h5>ToDoリスト</h5>
            <table class="table align-middle">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                <td class="card-text">loopcounter0
                <td class="card-text">月ごとの表示 曜日を出す export</td>
                <td class="card-text">勤務日誌管理</td>
                <td class="card-text">残業？間接業務？の申請と承認</td>
                <td class="card-text">個人日誌項目の追加</td>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}