{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="card" style="width:40rem;">
        <div class="card-body align-middle">
            <h5>施設別達成率</h5>
            <table class="table align-middle">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                <th class="card-text">京町デイ事業所</th>
                <td class="card-text text-success">先月から18.2%増加</td>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}