{% extends 'blog/base/base.Officemanagement.html' %}
{% block content %}
<div class="row">
    <div class="col-12 col-xl-8 mb-4 mb-lg-0">
        <div class="card">
            <h5 class="card-header">勤務日誌項目の追加 詳細設定</h5>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <form method="POST" class="post-form">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="save btn btn-primary">追加</button>
                            </form>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}