{% extends 'blog/base/base.html' %}

{% block main %}
<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
    <div class="d-grid gap-2" style="width:12rem;">
        <form action="/timecard/attendance_stamp/" method='POST' href="/timecard/work_details">{% csrf_token %}
          <button type="submit" value="add" class="btn btn-primary btn-block btn-lg">開始</button>
        </form>
        <br>
        <form action="#" method='POST'>{% csrf_token %}
          <button type="submit" value="add" class="btn btn-secondary  btn-block btn-lg">終了</button>
        </form>
        <br>
        <div align="right">
          <p>{{ timesheet.attendance_time }}</p>
        </div>
    </div>            
</main>
{% endblock %}